@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family:'Roboto', sans-serif;
}
.banner {
    height: 44px;
    text-align: center;
    background-color: #011B33;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.02px;
    line-height: 21px;
    padding: 10px;
    cursor: pointer;
}
.b-1 {
    margin-left: 4px;
}
.b-1:hover {
    margin-left: 8px;
    margin-top: 5px;
}

/* button */
.normal {
    background-color: #3bb75e;
    color: #fff;
}

/* nav bar */
#header {
    background-color: #f1fef4;
    padding-left: 40px;
    /* position: sticky; */
}
.logo {
    color: #011B33;
    font-size: 24px;
    font-weight: 800;
    padding-left: 10px;
}
#header li a {
    color: #011B33;
    font-size: 16px;
    font-weight: 500;
}
#header li a:hover{
    color: #0ba4db;
}



/* hero */
#hero {
    background-color: #f1fef4;
    padding: 120px 40px;
}
#hero h1 {
    font-family: 'Roboto';
    font-size: 3rem;
    font-weight: 800;
    width: 60%;
    margin-bottom: 10px;
    text-align: left;
    line-height: 1.2;
}
#hero p {
    color: #011B33;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.2px;
    font-weight: 400;
    width: 50%;
    margin-bottom: 10px;
}
#hero .white{
    background-color: #3bb75e;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    height: 50px;
    width: 240px;
    margin-right: 20px;
    text-align: center;
    /* padding: 10px; */
    margin-top: 10px;
    display: inline-block;
}
#hero span a{
    color: #3bb75e;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 0 10px;
    text-align: right;
}
#hero span a:hover{
    text-decoration: none;
}
#hero .feature {
    margin-top: 150px;
    width: 100%;
}
#hero .feature p {
    font-size: 18px;
    font-weight: 500;
    line-height: 22.4px;
    margin: 0 0 12px;
}
#hero .feature a {
    color: #011B33;
    font-size: 16px;
    line-height: 25.6px;
    font-size: 500;
    text-align: right;
}
#hero .fe-1 img{
    /* display: inline-block; */
    height: 28px;
    margin-left: 12px;
}
#hero .fe-2 {
    text-align: right;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
    font-size: 1.6rem;
    width: 100%;
}
#hero .fe-2 a:hover{
    text-decoration: none;
}
#hero .feature i {
    font-size: 40px;
    padding-right: 15px;
    color: #0ba4db;
    cursor: pointer;
}
/* content part */
#content {
    padding: 150px 0px 40px;
    position: relative;
}
#content h2 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 15px;
}
#content p {
    font-size: 20px;
    font-weight: 400;
}
#content .cont-h {
    margin-bottom: 100px;
    padding-left: 110px;
}
#content .c-feature img {
    width: 100%;
}
#content .point {
    margin-bottom: 50px;
}
#content .c-top{
    padding-top: 20px;
    margin-bottom: 50px;
}
#content .c-feature1 h3{
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 15px;
}
#content .c-feature1 p {
    font-size: 19px;
    font-weight: 400;
    margin: 20px 0;
    line-height: 28px;
    letter-spacing: -0.19px;
}
#content .c-feature1 span a{
    color: #3bb75e;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}
#content .c-feature1 span a:hover {
    text-decoration: none;
}
#content .c-feature1 span i {
    color: #3bb75e;
    width: 20px;
    height: 12px;
    background-color: #f1fef4;
    margin-right: 2px;
    cursor: pointer;
}
#content .c-feature2 ul {
    padding: 5px 0 5px 0px;
}
#content .c-feature2 li {
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0 5px;
    margin: 0 0 5px;
}
#content .c-feature2 .mark {
    color: #3bb75e;
    width: 20px;
    height: 12px;
    background-color: #f1fef4;
    margin-right: 2px;
}
#content video {
    width: 100%;
}
/* Card section */
#content .card-img{
    background-image: url(img/checked-pattern-blue.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 50px 0px;
    background-color: #eaf6fc;
}
#content .card-img .cont-h {
    margin-bottom: 50px;
}
#content .card-icon {
    margin-bottom: 20px;
}
#content .card-img h2 {
    font-size: 45px;
    font-weight: 800;
    text-align: left;
}
#content .card-img p {
    font-size: 20px;
    font-weight: 400;
    color: #011B33;
}
#content .card-fe img {
    height: 80px;
    align-items: left;
    margin-top: -10px;
}
#content .card-fe {
    border: 1px solid #f0f2f3;
    border-radius: 6px;
    box-shadow:  0px 1px 6px rgba(0,0,0,0.02);
    padding: 40px 32px;
    background: white;
    height: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
}
#content .card-fe:hover {
    box-shadow: 0px 1px 6px rgba(0,0,0,0.05);
}
#content .card-fe p {
    font-size: 16px;
    font-weight: 400;
    color: #011B33;
}
#content .card-body h4 {
    font-size: 24px;
    line-height: 33.6px;
    color: #011B33;
    font-weight: 600;
    margin-bottom: 10px;
}
#content .card-body p {
    font-size: 16px;
    font-weight: 400;
    color: #011B33;
    line-height: 25.6px;
    margin-bottom: 10px;
}
#content .card-body span i {
    color: #3bb75e;
    width: 20px;
    height: 12px;
    background-color: #f1fef4;
    margin-right: 2px;
    cursor: pointer;
}
#content .card-body span a {
    font-size: 15px;
    font-weight: 500;
    color: #011B33;
}
#content .card-body span a:hover{
    text-decoration: none;
}
/* card-logo section */
#content .c-logo img{
    height: 28px;
    margin-bottom: 20px;
}
#content .card-logo {
    margin-bottom: 40px;
}
/* Partner sections */
#content .partner {
    background-image: url(img/circular-pattern.png);
    top: -100px;
    background-size: 700px 700px;
    background-position: calc(100% + 200px);
    background-repeat: no-repeat;
    background-color: #f9fbfc;
    padding: 50px 0;
}
#content .partner img {
    height: 28px;
}
#content .partner .cont-h {
    margin-bottom: 50px;
}
#content .partner .partner-p {
    margin-bottom: 40px;
}
#content .partner .p-img img {
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
    float: left;
    margin-top: 10px;
}
#content .partner .p-img h6 {
    padding-top: 10px;
    font-weight: bold;
}
#content .partner .p-img p {
    font-size: 15px;
}

/* media query */
@media (max-width: 477px) {
    #hero h1 {
        width: 100%;
        font-size: 24px ;
    }
    #content .cont-h {
        padding-left: 40px;
    }   
}