@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family:'Roboto', sans-serif;
}
.banner {
    height: 44px;
    text-align: center;
    background-color: #011B33;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.02px;
    line-height: 21px;
    padding: 10px;
    cursor: pointer;
}
.b-1 {
    margin-left: 4px;
}
.b-1:hover {
    margin-left: 8px;
    margin-top: 5px;
}

/* button */
.normal {
    background-color: #3bb75e;
    color: #fff;
}

/* nav bar */
#header {
    background-color: #f1fef4;
    padding-left: 40px;
    /* position: sticky; */
}
.logo {
    color: #011B33;
    font-size: 24px;
    font-weight: 800;
    padding-left: 10px;
}
#header li a {
    color: #011B33;
    font-size: 16px;
    font-weight: 500;
}
#header li a:hover{
    color: #0ba4db;
}



/* hero */
#hero {
    background-color: #f1fef4;
    padding: 120px 40px;
}
#hero h1 {
    font-family: 'Roboto';
    font-size: 3rem;
    font-weight: 800;
    width: 60%;
    margin-bottom: 10px;
    text-align: left;
    line-height: 1.2;
}
#hero p {
    color: #011B33;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.2px;
    font-weight: 400;
    width: 50%;
    margin-bottom: 10px;
}
#hero .white{
    background-color: #3bb75e;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    height: 50px;
    width: 240px;
    margin-right: 20px;
    text-align: center;
    /* padding: 10px; */
    margin-top: 10px;
    display: inline-block;
}
#hero span a{
    color: #3bb75e;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 0 10px;
    text-align: right;
}
#hero span a:hover{
    text-decoration: none;
}
#hero .feature {
    margin-top: 150px;
    width: 100%;
}
#hero .feature p {
    font-size: 18px;
    font-weight: 500;
    line-height: 22.4px;
    margin: 0 0 12px;
}
#hero .feature a {
    color: #011B33;
    font-size: 16px;
    line-height: 25.6px;
    font-size: 500;
    text-align: right;
}
#hero .fe-1 img{
    display: inline-block;
    width: 100px;
    height: 28px;
}
#hero .fe-2 {
    text-align: right;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
    font-size: 1.6rem;
    width: 100%;
}
#hero .feature i {
    font-size: 40px;
    padding-right: 15px;
    color: #0ba4db;
}


/* media query */
@media (max-width: 477px) {
    #hero h1 {
        width: 100%;
        font-size: 24px ;
    }   
}